.cylinder{
	margin-left: 100px;
	margin-top: 100px;
	width:5rem;
	height:2.3rem;
	background-color: grey;
	border-radius: 1rem;
	position:absolute;
}
.circle{
	position:relative; 
	margin-top: 3.5px;
	margin-left:2.2px;
	width:2.2rem;
	height:1.85rem;
	border-radius:1.2rem;
	background-color:white;
	
}

.circle:active{
	transform:translateX(2.6rem);
	transition: :all 10s ease-in-out;
	position: fixed;
}
.cylinder:active{
	background-color: purple;
}


